@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background: hsl(0, 0%, 59%); */
  font-family: Arial, Helvetica, sans-serif;
}

.bg_pattern {
  background: url('../../public//images//pattern-bg-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

